<h1>みんなのレシピ</h1>
<% @recipes.each do |recipe| %>
<div>
  <%= image_tag recipe.get_image, size: "200x200" %>
  <p>料理名：<%= recipe.name %></p>
  <p>説明：<%= recipe.caption %></p>
  <p>ユーザーネーム：<%= recipe.user.last_name %></p>
</div>
<% end %>
