/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



header {
  width: 90%;
  padding: 15px 0;
  margin: 30px auto 0;
  text-align: center;
  border-top: solid 5px #000000;
}

header .headline {
  font-size: 32px;
}

.newregistration{
  text-align:center;
}

.top_bg {
  background-color: #FFF5EE ;
}

.form-box {
    margin:0 auto;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 10px 0 20px 0;
  top: 0;
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8;
  background-image: image-url("topbg.jpg");
}

.header-top-content{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
  border-bottom: 3px solid orange;
}

.header-title {
  font-size: 40px;
  text-decoration: none;
  color:white;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
  margin-left: 4%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 30px 0 auto;
  position: relative;
}

.user-nickname {
  width: 170px;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  padding: 7px 5px;
}

.js-lists{
  position: absolute;
  top: 45px;
  right: 30px;
  background-color: whitesmoke;
  border-top: #4b4b4b 1px solid;
  border-left: #4b4b4b 1px solid;
  border-right: #4b4b4b 1px solid;
  width: 120px;
  display: none;
}

.js-content {
  border-bottom: #4b4b4b 1px solid;
  height: 27px;
  text-align: center;
}

.js-link{
  text-decoration: none;
  color: #4b4b4b;
  font-size: 16px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
  padding: 7px;
}

.sign-up {
  text-decoration: none;
  color: whitesmoke;
  padding: 7px;
}

.header-center{
  padding-top: 10px;
  padding-left: 20%;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
  color: whitesmoke;
  font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
}

.header-center-top{
  font-size: 18px;
  color: whitesmoke;
}

.header-center-bottom{
  font-size: 40px;
  color: whitesmoke;
}

/*headerの装飾*/

.nav-bg {
   background-color: orange;
 }

 .headline {
  display: flex;
 }

 .all-products {
  display: inline-block;
  margin: 0.5em;
 }

 .box-shadow {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
 }

 .scolor1 {
  color: #00DD00;
  font-weight: bold;
 }

 .scolor2 {
  color: #FF0000;
  font-weight: bold;
 }

 select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }

/*レシピ一覧の装飾*/
main {
  width: 880px;
  margin: 0 auto;
}

.list-wrap {
  display: flex;
  flex-wrap: wrap;
}

.list-box {
  width: 200px;
  height: 250px;
  margin: 40px;
  position: relative;
}

.list-comment {
  width: 200px;
  left: 0;
  bottom: 0;
}

.list-body {
  display: block;
  color: gray;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-title {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

